h1{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h3{
    background-color: rgb(223, 18, 18);
    color: rgb(10, 10, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}